{% extends 'layout.html' %}
{% block title %} Add new Post {% endblock %}
{% block body %}
<h1> Add new Post  </h1>
<form method="post">
  <div class="mb-3">
    <label for="" class="form-label">Title</label>
    <input type="text"  name='title' class="form-control" >
  </div>
    <div class="mb-3">
    <label for="" class="form-label">body</label>
    <input type="text"  name='body' class="form-control">
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="text" name='image' class="form-control" id="image">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}